body {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
}

.intro {
  font-family: 'Fira Sans';
  position: relative;
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  width: 780px;
  margin: 80px auto;
  color: #3B3B3B;
  height: 60vh;
}
