@import url(//db.onlinewebfonts.com/c/602123ef5a08a5aa292cbd46236307d2?family=RollerscriptW01-Smooth);
@font-face {font-family: "RollerscriptW01-Smooth"; src: url("//db.onlinewebfonts.com/t/602123ef5a08a5aa292cbd46236307d2.eot"); src: url("//db.onlinewebfonts.com/t/602123ef5a08a5aa292cbd46236307d2.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/602123ef5a08a5aa292cbd46236307d2.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/602123ef5a08a5aa292cbd46236307d2.woff") format("woff"), url("//db.onlinewebfonts.com/t/602123ef5a08a5aa292cbd46236307d2.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/602123ef5a08a5aa292cbd46236307d2.svg#RollerscriptW01-Smooth") format("svg"); }

body {
  font-family: 'Cousine', monospace;
  background-color: #000800;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin-bottom: 0.7em;
  color: white;
  font-family: 'Rollerscript', cursive;
}

h2 {
  font-size: 1.4em;
}

h3, h4, h5, h6 {
  font-size: 1.8em;
}

p {
  color: #88cc88;
  font-size: 0.9em;
  margin-bottom: 1.2em;
  line-height: 1.7em;
  font-weight: 300;
}

/* links */
a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

#container {
  width: 100%;
}

#content {
  width: 475px;
  margin-left: 100px;
  margin-top: 100px;
}

@media only screen and (max-width: 800px) {
  #content {
    margin: 80px auto;
    padding: 0;
    width: 85%;
